<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Pessoas - Dashboard</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-pessoa">
      <h5 class="card-header">Relatório de Pessoas</h5>
      <div class="card-body">

        <label for="model"> Filtrar por: </label>
        <div>
          <select class="dropdown-type-filter" [(ngModel)]="keyword">
            <option *ngFor="let filtros of keywords" [value]="filtros">
              {{ filtros }}
            </option>
          </select>
        </div>

        <div class="ng-autocomplete">
          <ng-autocomplete [data]="pessoas" [searchKeyword]="keyword" 
          [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" 
          placeholder="Digite o nome aqui..">
        </ng-autocomplete>
      </div>
          <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nome"></a>
          </ng-template>
           
          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Idade</th>
                <th scope="col">E-mail</th>
                <th scope="col">Sexo</th>
                <th scope="col">Habilidades</th>
                <th scope="col">Ativo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pessoa of pessoas | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.data | date: 'dd/MM/yyyy' }}</td>
                <td>{{ pessoa.idade }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.sexo }}</td>
                <td>{{ pessoa.habilidades }}</td>
                <td>
                  <input type="checkbox" [checked]="pessoa.ativo" disabled/>
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editarPessoa(pessoa)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletarPessoa(pessoa.codigo, pessoa)">Deletar</button>
                </td>
              </tr>
            </tbody>
            <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
          </table>
      </div>
    </div>
    <div class="container">
      <div class="card-body">
        <button type="button" class="btn btn-warning btn-add-pessoa" [routerLink]="['/cadastro']">Cadastrar Pessoa</button>
        <button type="button" class="btn btn-warning btn-add-pessoa" [routerLink]="['/relatorios']">Relatorios</button>
      </div>
    </div>
    <div class="card add-pessoa">
      <h5 class="card-header">Adicionar Pessoa</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && adicionarPessoa(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="model">Nome</label>
                <input type="text" [(ngModel)]="pessoa.nome" id="nome" name="nome" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite seu nome">
                <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                  <div *ngIf="model.errors.required">Nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="color">Data Nascimento</label>
                <input type="date" [(ngModel)]="pessoa.data" id="datanascimento" name="datanascimento" #color="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" placeholder="Digite sua data de nascimento">
                <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                  <div *ngIf="color.errors.required">Data é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Idade</label>
                <input type="number" [(ngModel)]="pessoa.idade" id="idade" name="idade" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite sua idade">
                <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                    <div *ngIf="price.errors.required">Idade é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
              <label for="price">E-mail</label>
              <input type="email" [(ngModel)]="pessoa.email" id="email" name="email" #price="ngModel" class="form-control" placeholder="Digite o e-mail">          
            </div>
            <div class="form-group">
              <label for="price">Sexo</label>
              <input type="text" [(ngModel)]="pessoa.sexo" id="sexo" name="sexo" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Selecione seu sexo">
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                  <div *ngIf="price.errors.required">Sexo é obrigatório</div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Habilidades</label>
              <input type="text" [(ngModel)]="pessoa.habilidades" id="habilidades" name="habilidades" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Suas habilidades ( Ex:C#, Java, Angular, SQL, ASP)">
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                <div *ngIf="price.errors.required">Habilidades é obrigatório</div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Ativo</label>
              <input type="checkbox" [(ngModel)]="pessoa.ativo" id="ativo" name="ativo" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }">
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                  <div *ngIf="price.errors.required">Status é obrigatório</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-add-pessoa">Salvar</button>
          </form>
      </div>
    </div>
</div>